    @lombok.Getter(onMethod = @__({ @io.github.wistefan.mapping.annotations.AttributeGetter(value = io.github.wistefan.mapping.annotations.AttributeType.RELATIONSHIP_LIST, targetName = NGSI_PROPERTY_{{nameInSnakeCase}}) }))
    @lombok.Setter(onMethod = @__({ @io.github.wistefan.mapping.annotations.AttributeSetter(value = io.github.wistefan.mapping.annotations.AttributeType.RELATIONSHIP_LIST, targetName = NGSI_PROPERTY_{{nameInSnakeCase}}, targetClass = {{vendorExtensions.ngsi_relationshiplist}}.class) }))