    @lombok.Getter(onMethod = @__({ @io.github.wistefan.mapping.annotations.AttributeGetter(value = io.github.wistefan.mapping.annotations.AttributeType.PROPERTY, targetName = NGSI_PROPERTY_{{nameInSnakeCase}}) }))
    @lombok.Setter(onMethod = @__({ @io.github.wistefan.mapping.annotations.AttributeSetter(value = io.github.wistefan.mapping.annotations.AttributeType.PROPERTY, targetName = NGSI_PROPERTY_{{nameInSnakeCase}}) }))